
@page "/"

@code{
    // public List<Question> qList = new List<Question>();
    public Questionaire newQuestionaire = new Questionaire();
    public Question tst = new Question();


}
<h1>Create a questionaire</h1>

Welcome to the questionaire builder.
<form>
    <div class="form-group">
        <b><label for="exampleFormControlInput1">Question</label></b>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your question here" value="@stringQuestion" @oninput="(EventArgs) => { SetQuestion(EventArgs.Value.ToString()); }">
    </div>
    <button type="button" @onclick="UpdateQuestion" class="btn btn-primary">Add</button>


</form>

@code{


    string stringQuestion = " ";
    
    public void SetQuestion(string Value)
    {
        stringQuestion = Value;

    }

    public void UpdateQuestion(MouseEventArgs e)
    {

        newQuestionaire.questions.Add(new Question(stringQuestion));

    }
  


}


@if (newQuestionaire.questions != null)
{
    @foreach (Question tmp in newQuestionaire.questions)
    {
        <form>
            <h1> @tmp.questionText</h1>
            <div class="form-group">
                <b><label for="exampleFormControlInput1">Answer</label></b>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter your answer here" value="@stringAnswer" @oninput="(EventArgs) => { SetAnswer(EventArgs.Value.ToString()); }">
                <small id="answerHelp" class="form-text text-muted">Enter your answer here:)</small>
                <button type="button" @onclick="(EventArgs) => { tmp.questionAnswer.Add(new Answers(stringAnswer)); }" class="btn btn-primary">Add</button>
            </div>
            @code
            {
                string stringAnswer = " ";

                private void SetAnswer(string Value)
                {
                    stringAnswer = Value;
                }
            }

            @foreach(Answers tmpAns in tmp.questionAnswer)
            {
                <h5> </h5>
                <div class="card w-75">
                    <div class="card-body">
                       
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">remove</a>
                    </div>
                </div>
            }
        </form>

    }
}













